ehllo {{test}}  {{{unesc}}}

{{#section}}
  hello
  {{#name}} hello {{first}} {{/name}}
{{/section}}

{{^section2}}

  inverted
{{/section2}}

{{=<% %>=}}

{{notdelimited}}

<% newdelim %>

<%={{ }}=%>

{{ old_delim }}

<% invalid_delim %>
